<div class="user-auth">
    <div *ngIf="!showLogin" class="sign-up">
        <h1>User Signup</h1>
        <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
            <input type="text" class="form-input" name="name" placeholder="Enter User Name" ngModel />
            <input type="text" class="form-input" name="email" placeholder="Enter User Email" ngModel /><input
                type="password" class="form-input" name="password" placeholder="Enter User Password" ngModel />
            <button class="form-button">Sign Up</button>
            <button class="auth-toggle-link" (click)="openlogin()">Existing User ? Log in</button>

        </form>
        </div>
        <div *ngIf="showLogin" class="login">
            <h1>User Login</h1>
            <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
                <p style="color: red;">{{authError}}</p>
                <input type="text" class="form-input" name="email" placeholder="Enter User Email" ngModel #email="ngModel" required />
                <p class="invalid-input"><span *ngIf="email.invalid && email.touched">please Enter valid Email</span></p>
                <input type="password" class="form-input" name="password" placeholder="Enter User Password" ngModel #password="ngModel" required  minlength="2" maxlength="20" />
                <p class="invalid-input"><span *ngIf="password.invalid && password.touched">please Enter valid password</span></p>
                <button [disabled]="userLogin.invalid" class="form-button">Login</button>
                <button class="auth-toggle-link" (click)="opensignup()">New to KitchenStory?SingUp here</button>
            </form>
            </div>
    </div>
 